<div class="cart__container">
  <div class="cart__title">
    <h3>Cart</h3>
  </div>
  
  <div class="shipping__prices__link">
    <h3>About
      <a routerLink="/shipping">shipping prices</a>...
    </h3>
  </div>
  <div class="cart__item" *ngFor="let item of items">
    <span> {{ item.name }} </span>
    <span> {{ item.price | currency }} </span>
  </div>
  
  <div *ngFor="let item of items">
    <div *ngIf="items">
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="name">Name</label>
          <input id="name" type="text" formControlName="name">
        </div>
        <div>
        <label for="surname">Surname</label>
        <input id="surname" type="text" formControlName="surname">
      </div>
      <div>
        <label for="address">Address</label>
        <input id="address" type="text" formControlName="address">
      </div>
      <div>
        <label for="phone">Phone</label>
        <input id="phone" type="text" formControlName="phone">
      </div>
        <button class="button" type="submit">Purchase</button>
      </form>
    </div>
  </div>
</div>
