.products__title {
  padding-left: 20px;
}

.container {
  max-width: 1400px;
  margin: 0px auto;
}

.products__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 30px 30px;
  /* start display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px -15px; end old code */
}

.product__card {

  /* flex: 0 1 22.5%; */
  /* width: 330px; */
  /* margin: 15px; */
  box-shadow: 0px 10px 15px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}

img {
  display: block;
  margin: auto;
}

.card__description {
  margin-bottom: 60px;
}

.share__button {
  margin: 0px 65px 0px 0px;
}

.notify__button {
    margin: 0px 0px 0px 65px;
}

/* .bottom__elements { */
  /* position: relative; */
  /* bottom: 0; */
/* } */

.buttons {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex: 0 1 40%; */
  position: absolute;
  bottom: 0;
}
