<div class="container">
  <div class="products__title">
    <h2>Products in stock: </h2>
  </div>

  <div class="products__wrapper">
    <article class="product" *ngFor="let product of products">
      <a
        [title]="product.name + ' details'"
        [routerLink]="['/products', product.id]"
        class="product__image"
      >
        <!-- Change that block -->
        <div class="product__switch image-switch">
          <div class="image-switch__item">
            <div class="image-switch__img">
              <img [src]="product.imgUrl.one" alt="" />
            </div>
          </div>
          <div *ngIf="product.imgUrl.two" class="image-switch__item">
            <div class="image-switch__img">
              <img *ngIf="product.imgUrl.two" [src]="product.imgUrl.two" alt="" />
            </div>
          </div>
          <div *ngIf="product.imgUrl.three" class="image-switch__item">
            <div class="image-switch__img">
              <img *ngIf="product.imgUrl.two" [src]="product.imgUrl.three" alt="" />
            </div>
          </div>
        </div>
        <!------------------------------->

        <!-- Change that block -->
        <ul 
          class="product__image-pagination image-pagination"
          aria-hidden="true"
        >
          <li class="image-pagination__item"></li>
          <li class="image-pagination__item"></li>
          <li class="image-pagination__item"></li>
        </ul>
        <!------------------------------->

      </a>
      <h3 class="product__title">
        <a
          [title]="product.name + ' details'"
          [routerLink]="['/products', product.id]"
          >{{ product.name }}</a
        >
      </h3>
      <div class="product__props">
        <span class="product__raiting"
          >{{product.raiting}}
          <!-- <svg> -->
          <!-- <path /> -->
          <!-- </svg> -->
        </span>
        <span class="testimonials">{{product.commentCount}} отзывов</span>
      </div>
      <div class="product__info">
        <span class="product__term">Артикул: {{product.vendorCode}}</span>
        <span class="product__available">В наличии: {{product.available}} шт</span>
      </div>
      <div class="product__price product-price">
        <span class="product-price__current">{{
          product.price.actually | currency
        }}</span>
        <span class="product-price__old">{{
          product.price.old | currency
        }}</span>
      </div>
      <button (click)="addToCart(product)" class="product__btn">
        Добавить в корзину
      </button>
    </article>
  </div>
</div>

<!------------------------------OLD CODE---------------------------------->

<!-- <div class="product__card" *ngFor="let product of products">
      <div class="card__img">
        <img
          width="200px"
          [src]="product.imgUrl"
          [alt]="product.name + ' image'"
          />
      </div>
      <div class="card__title">
        <h3>
          <a
            [title]="product.name + ' details'"
            [routerLink]="['/products', product.id]"
          >
            {{ product.name }}
          </a>
        </h3>
      </div>
      <div class="card__description">
        <p *ngIf="product.description">
          {{ product.description }}
        </p>
      </div>
      <div class="bottom__elements">
        <div class="buttons">
          <div class="share__button">
            <button type="button" (click)="share()">Share</button>
          </div>
          <div class="notify__button">
            <app-product-alerts
              [product]="product"
              (notify)="onNotify()"
            ></app-product-alerts>
          </div>
        </div>
      </div>
    </div> -->
<!---------------------------------------------------------->